In [143]:

import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [144]:

df = pd.read_pickle('../../datasets/processed/movies.pkl')
df.head()

,title,rating,year,month,certificate,runtime,directors,stars,genre,filming_location,budget,income_$,country_of_origin
0,Avatar: The Way of Water,8.0,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,$350000000,681081686,United States
1,Guillermo del Toro's Pinocchio,7.8,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,$35000000,71614,"United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,$85900000,239268602,"Japan, United States"
3,The Banshees of Inisherin,8.0,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,19720823,"Ireland, United Kingdom, United States"
4,M3gan,6.7,2022,January,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,Unknown,90776006,United States

In [145]:
df.describe()

            rating         year      runtime      income_$
count  2000.000000  2000.000000  2000.000000  2.000000e+03
mean      6.667650  2012.500000   113.214500  1.807404e+08
std       0.912576     5.767723    19.598075  2.645420e+08
min       1.900000  2003.000000    50.000000  3.050000e+02
25%       6.175000  2007.750000    99.000000  2.931354e+07
50%       6.700000  2012.500000   110.000000  9.077601e+07
75%       7.300000  2017.250000   124.000000  2.081357e+08
max       9.600000  2022.000000   242.000000  2.922918e+09

In [146]:
df.describe(exclude=['float64', 'uint16', 'uint32', 'uint8'])

,title,month,certificate,directors,stars,genre,filming_location,budget,country_of_origin
count,2000,2000,2000,2000,2000,2000,2000,2000,2000
unique,1989,12,11,1082,1990,244,97,305,406
top,The Hunt,November,R,Ridley Scott,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...","Action, Adventure, Sci-Fi",USA,Unknown,United States
freq,2,262,901,13,2,92,906,306,942

In [147]:
df.groupby('year').agg({
    'rating': ['mean', 'median', 'sum'], 
    'runtime': ['mean', 'median', 'sum'],
    'income_$': ['mean', 'median', 'sum']
})

     rating               runtime                    income_$               \
       mean median    sum    mean median    sum          mean       median
year
2003  6.579   6.70  657.9  110.79  108.0  11079  1.483425e+08   90517771.0
2004  6.746   6.80  674.6  111.03  106.0  11103  1.565439e+08  102824419.5
2005  6.565   6.70  656.5  111.15  109.0  11115  1.414480e+08   89008395.5
2006  6.713   6.75  671.3  112.87  108.0  11287  1.444764e+08   85695102.5
2007  6.756   6.95  675.6  112.12  109.5  11212  1.620166e+08   90776006.0
2008  6.596   6.70  659.6  107.73  106.0  10773  1.783801e+08  112237665.5
2009  6.679   6.75  667.9  111.85  107.0  11185  1.872593e+08   90809326.0
2010  6.691   6.60  669.1  108.69  107.0  10869  1.875894e+08   93954579.0
2011  6.754   6.80  675.4  110.60  107.5  11060  1.977062e+08  130071931.5
2012  6.675   6.75  667.5  112.58  109.0  11258  2.266304e+08  121553838.5
2013  6.734   6.75  673.4  113.67  112.0  11367  2.132888e+08   98721049.5
2014  6.692   6.60  669.2  113.05  109.0  11305  2.213606e+08  124898098.5
2015  6.688   6.75  668.8  116.02  117.0  11602  2.273229e+08   91373416.5
2016  6.762   6.85  676.2  114.25  114.5  11425  2.209106e+08  119310390.5
2017  6.714   6.70  671.4  115.10  115.0  11510  2.276579e+08   90776006.0
2018  6.677   6.75  667.7  117.24  118.0  11724  2.363394e+08   90776006.0
2019  6.691   6.75  669.1  117.37  117.0  11737  2.339085e+08   90776006.0
2020  6.326   6.50  632.6  107.80  105.5  10780  6.910270e+07   48580004.0
2021  6.612   6.60  661.2  118.09  114.5  11809  1.161049e+08   40772055.0
2022  6.703   6.70  670.3  122.29  118.5  12229  1.184192e+08   90776006.0


              sum
year
2003  14834247101
2004  15654392307
2005  14144800243
2006  14447635031
2007  16201657520
2008  17838006391
2009  18725925460
2010  18758936169
2011  19770619533
2012  22663036621
2013  21328875848
2014  22136060623
2015  22732291010
2016  22091058256
2017  22765791070
2018  23633941239
2019  23390851105
2020   6910269535
2021  11610487877
2022  11841920151

In [148]:
df.groupby('year').agg({
    'rating': ['mean', 'median', 'sum'], 
    'runtime': ['mean', 'median', 'sum'],
    'income_$': ['mean', 'median', 'sum']
})

     rating               runtime                    income_$               \
       mean median    sum    mean median    sum          mean       median
year
2003  6.579   6.70  657.9  110.79  108.0  11079  1.483425e+08   90517771.0
2004  6.746   6.80  674.6  111.03  106.0  11103  1.565439e+08  102824419.5
2005  6.565   6.70  656.5  111.15  109.0  11115  1.414480e+08   89008395.5
2006  6.713   6.75  671.3  112.87  108.0  11287  1.444764e+08   85695102.5
2007  6.756   6.95  675.6  112.12  109.5  11212  1.620166e+08   90776006.0
2008  6.596   6.70  659.6  107.73  106.0  10773  1.783801e+08  112237665.5
2009  6.679   6.75  667.9  111.85  107.0  11185  1.872593e+08   90809326.0
2010  6.691   6.60  669.1  108.69  107.0  10869  1.875894e+08   93954579.0
2011  6.754   6.80  675.4  110.60  107.5  11060  1.977062e+08  130071931.5
2012  6.675   6.75  667.5  112.58  109.0  11258  2.266304e+08  121553838.5
2013  6.734   6.75  673.4  113.67  112.0  11367  2.132888e+08   98721049.5
2014  6.692   6.60  669.2  113.05  109.0  11305  2.213606e+08  124898098.5
2015  6.688   6.75  668.8  116.02  117.0  11602  2.273229e+08   91373416.5
2016  6.762   6.85  676.2  114.25  114.5  11425  2.209106e+08  119310390.5
2017  6.714   6.70  671.4  115.10  115.0  11510  2.276579e+08   90776006.0
2018  6.677   6.75  667.7  117.24  118.0  11724  2.363394e+08   90776006.0
2019  6.691   6.75  669.1  117.37  117.0  11737  2.339085e+08   90776006.0
2020  6.326   6.50  632.6  107.80  105.5  10780  6.910270e+07   48580004.0
2021  6.612   6.60  661.2  118.09  114.5  11809  1.161049e+08   40772055.0
2022  6.703   6.70  670.3  122.29  118.5  12229  1.184192e+08   90776006.0


              sum
year
2003  14834247101
2004  15654392307
2005  14144800243
2006  14447635031
2007  16201657520
2008  17838006391
2009  18725925460
2010  18758936169
2011  19770619533
2012  22663036621
2013  21328875848
2014  22136060623
2015  22732291010
2016  22091058256
2017  22765791070
2018  23633941239
2019  23390851105
2020   6910269535
2021  11610487877
2022  11841920151

In [149]:
df.groupby('year')[['month', 'certificate', 'directors', 'filming_location', 'budget', 'country_of_origin']].agg(lambda x: x.mode()[0])

,month,certificate,directors,filming_location,budget,country_of_origin
year,,,,,,
2003,November,R,"Lana Wachowski, Lilly Wachowski",USA,$60000000,United States
2004,July,R,Garry Marshall,USA,$30000000,United States
2005,December,PG-13,Catherine Hardwicke,USA,$50000000,United States
2006,November,R,Shawn Levy,USA,Unknown,United States
2007,November,R,Richard LaGravenese,USA,Unknown,United States
2008,December,PG-13,Clint Eastwood,USA,$20000000,United States
2009,December,R,Christian Alvart,USA,$30000000,United States
2010,June,R,Adam Green,USA,Unknown,United States
2011,August,R,Steven Spielberg,USA,$40000000,United States
2012,September,R,Tim Burton,USA,Unknown,United States
2013,August,R,Denis Villeneuve,USA,$20000000,United States
2014,December,R,"Phil Lord, Christopher Miller",USA,Unknown,United States
2015,October,R,"Aaron Hann, Mario Miscione",USA,Unknown,United States
2016,December,PG-13,David Yates,USA,Unknown,United States
2017,November,R,Aaron Sorkin,USA,Unknown,United States
2018,November,R,Adam McKay,USA,Unknown,United States
2019,November,R,Guy Ritchie,USA,Unknown,United States
2020,October,R,Aaron Schneider,USA,Unknown,United States
2021,November,R,Antoine Fuqua,USA,Unknown,United States
2022,December,R,Ti West,USA,Unknown,United States

In [150]:
CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

In [167]:
pd.DataFrame(zip(
    df.certificate.value_counts(), 
    df.certificate.value_counts(normalize=True)
    ), index=df.certificate.value_counts().index, columns=['count', 'percentage'])

         count  percentage
R          901      0.4505
PG-13      714      0.3570
PG         225      0.1125
Unrated     67      0.0335
TV-MA       40      0.0200
G           22      0.0110
TV-14       12      0.0060
TV-PG        9      0.0045
NC-17        6      0.0030
TV-G         3      0.0015
TV-Y7        1      0.0005

In [168]:
pd.DataFrame(zip(
    df.filming_location.value_counts(), 
    df.filming_location.value_counts(normalize=True)
    ), index=df.filming_location.value_counts().index, columns=['count', 'percentage'])

                  count  percentage
USA                 906      0.4530
Canada              209      0.1045
UK                  177      0.0885
Unknown              76      0.0380
Australia            44      0.0220
...                 ...         ...
Guam                  1      0.0005
Gabon                 1      0.0005
French Polynesia      1      0.0005
Rwanda                1      0.0005
Arctic Ocean          1      0.0005

[97 rows x 2 columns]