In [1]:
import numpy as np
import pandas as pd
from re import sub

In [2]:
df = pd.read_csv('../../datasets/raw/the_oscar_award.csv')
df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [3]:
memory_before = df.memory_usage(deep=True).sum()
memory_before

3155659

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10759 entries, 0 to 10758
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10759 non-null  int64
 1   year_ceremony  10759 non-null  int64
 2   ceremony       10759 non-null  int64
 3   category       10759 non-null  object
 4   name           10756 non-null  object
 5   film           10449 non-null  object
 6   winner         10639 non-null  object
dtypes: int64(3), object(4)
memory usage: 3.0 MB

In [5]:
df.drop(index=df[df.name.isna() | df.film.isna()].index, inplace=True)
df.reset_index(drop=True, inplace=True)

In [6]:
df.fillna(
    {
        'winner': df.winner.mode()[0]
    }, inplace=True
)

In [7]:
for column in df.columns:
    print(f"{column}: {len(df[column].unique())}")

year_film: 95
year_ceremony: 95
ceremony: 95
category: 127
name: 6683
film: 4990
winner: 2

In [8]:
df.year_film = df.year_film.astype('uint16')
df.year_ceremony = df.year_ceremony.astype('uint16')
df.ceremony = df.ceremony.astype('uint8')
df.winner = df.winner.astype('bool')

In [9]:
memory_after = df.memory_usage(deep=True).sum()
memory_after

2546417

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10449 non-null  uint16
 1   year_ceremony  10449 non-null  uint16
 2   ceremony       10449 non-null  uint8
 3   category       10449 non-null  object
 4   name           10449 non-null  object
 5   film           10449 non-null  object
 6   winner         10449 non-null  bool
dtypes: bool(1), object(3), uint16(2), uint8(1)
memory usage: 2.4 MB

In [11]:
print (f'{memory_after/memory_before*100: .2f}% da memória original')

 80.69% da memória original

In [12]:
df.to_pickle('../../datasets/processed/the_oscar_award.pkl')